body{
    background-color: rgb(255, 255, 255);
}

.flexContenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexContenedor > div{
    display: flex;
    height: 200px;
    border: 1px solid green;
    width: 30%;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.gridContenedor {
    display: grid;
    grid-template-columns: 30% 40% auto;
    gap: 10px;
}

.gridContenedor > div{
    height: 200px;
    border: 1px solid green;
}